# Dependencies
node_modules/
backend/
# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
.env.production

# Data directories
backend/data/
/data/
*.logd
backend/data/*.db

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Examples
app-example